<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683059644780-lv5jd91h62tgvqg41m7btml9h2dkapfv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683059644780-lv5jd91h62tgvqg41m7btml9h2dkapfv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>683059644780-tjrqhnqie2rsn7bnfj57d2u5121i3d15.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-bK3WNav1WzIPK3vqZ1_lVQsOQN5hZbI</string>
	<key>GCM_SENDER_ID</key>
	<string>683059644780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.torricantineapp.torristore</string>
	<key>PROJECT_ID</key>
	<string>torricantinestore</string>
	<key>STORAGE_BUCKET</key>
	<string>torricantinestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683059644780:ios:2d6996dbca63b4fd56cb49</string>
</dict>
</plist>